* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.topnav {
    overflow: hidden;
    background-color: #008c8c;
    height: 80px;
    width: 100%;
}

.topnav .title {
    color: seashell;
    font-size: 1.8em;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
    line-height: 80px;
    float: none;
    text-align: center;
}

.middlenav {
    height: 200px;
}

.middlenav p {
    color: #008c8c;
    font-size: 1.5em;
    font-family: 'Comic Sans MS', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    height: 180px;
    line-height: 180px;
    text-align: center;

    float: left;
    padding-left: 5em;
}

.avatar {
    height: 8px;
}

.avatar img{
    width: 105px;
    position: absolute;
    right: 70px;
    top: 130px;
    cursor: pointer;
}

.avatar:hover .account{
    display: block;
}

/* the account control*/
.account {
    float: left;
    position: absolute;
    right: 60px;
    margin-top: 140px;
    border: 2px solid #008c8c;
    border-radius: 4px;
    line-height: 1.5em;
    color: gray;
    display: none; 
}

.account .panel {
    color: rgb(52, 151, 96);
}

.account .panel:hover {
    color: teal;
}

.profile {
    width: 52%;
    margin-left: 24%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.profile .item {
    font-weight: bold;
    line-height: 2em;
    margin-top: 0.8em;
}

.profile .link {
    margin-top: 1.5em;
    position: relative;
}

.profile .link .left {
    float: left;
}

.profile .link .right {
    float: right;
    margin-top: -1.2em;
}
 
.profile .link a {
    width: 150px;
    height: 2em;
    line-height: 2em;

    color: white;
    background-color: rgb(210, 165, 117);
    border-radius: 6px;
    border: 0;
    display: inline-block;
    padding: 3px 28px;
    text-align: center;
}

.profile a:hover {
    background-color: sandybrown;
}

.bottom img {
    height: 230px;
    position: absolute;
    bottom: 0px;
}