<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dashboard.css">

    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <div class="title">Team 66 Pet Care</div>
    </div>

    <div class="middlenav">
        <p>CareTaker Profile</p>
        <div class="avatar" href="">
            <img src="./avatar.png" alt="avatar">
            <div class="account">
                <ul>
                    <li><a class="panel" href="./edit_profile.html">Edit Profile</a></li>
                    <li><a class="panel" href="./index.html">Log Out</a></li>
                    <li><a class = "panel" href="">Find Care taker</a></li>
                </ul>
            </div>
        </div>
    </div>

   
    
    <div class="profile">
        <p class="item">username</p>
        <p class="item">salary summary</p>
        <a href="services.html">Services</a></br>
        <a href="salary.html">Salary</a>
        <p>Lorem ipsum dolor sit amet. Ducimus, neque beatae, asperiores numquam soluta? Repudiandae, dolorum, nesciunt voluptates similique sequi placeat nisi earum vel excepturi odio quae atque minus nostrum quos quas optio natus repellendus nobis sed doloremque saepe veniam. Aut laudantium recusandae obcaecati officia, minus voluptate inventore repellat ipsam quisquam consectetur et deleniti quas omnis natus, dignissimos accusantium dolorum! Cum aspernatur, consequatur porro magni iste illo deserunt ab excepturi expedita incidunt praesentium! A, ab perferendis iusto amet excepturi at?</p>
    </div>

    <div class="bottom">
        <img src="./ad.jpg" alt="">
    </div>
</body>
</html>