
<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>MainPage</title>

    <!-- CSS for Styling -->
    <link rel='stylesheet' href='./index.css' />				
  </head>

  <body>
    <div class="topnav">
      <div class="title">Team 66 Pet Care</div>
    </div>

    <div class="welcome">
      <h1>Welcome to Pet Care!</h1>
      <p>
        This application provides pet care services for caretakers and pet owners.
      </p>
    </div>

    <div class="middlenav">
      <div class="panels">
        <div class="login">
          <a href="./login.html">Log In</a>
        </div>

        <div class="register">
          <a href="./register.html">Register</a>
        </div>
    </div>
      
    </div>
</body>