<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/login.css">

    <script src="/routes/users.js"></script>
    <script src="../routes/index.js"></script>
    <title>LogIn</title>
</head>

<body>
    <div class="topnav">
        <div class="title">Team 66 Pet Care</div>
    </div>

    <div class="login">
        
    <form method="post">
 
        <p><label class="label_input">Username</label><input type="text" id="username" class="text_field" name="username" /></p>
        <p><label class="label_input">Password</label><input type="password" id="password" class="text_field" name="password" /></p>
 
        <div id="login_control">
            <input type="submit" id="btn_login" value="login"/>
        </div>
    </form>
    </div>

    <div class="bottom">
        <img src="/images/ad.jpg" alt="">
    </div>
</body>
</html>