<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Salary Details</h1>

<table border="1" cellpadding="15" >
    <tr>
        <th>userid</th>
        <th>salary</th>
        <th>month</th>
        <th>year</th>
    </tr>
   
    <tr>
        <td>
            <%=userid%>
        </td>
        <td>
            <%=salary%>
        </td>
        <td>
            <%=month%>
        </td>
        <td>
            <%=year%>
        </td>
    </tr>
    </table>
    
    <button type="back" class="btn btn-primary">back</button>
</body>
</html>

